h1,h2,h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
}
p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


.top{
	
	position:relative;
	display: flex;
	flex-flow: row;
	flex-flow: column;
	flex-wrap: wrap;
	flex: 1;
	width:100%;
	background-color: #ffffff;
	height: 100px; 
}

.goto a{

	background-color: transparent;
	text-decoration: none;
	color: #777777;
	padding:20px auto;
}
a{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul{
	position:absolute;
	top:58px;
	left:64%;
}

.goto li{

	display: inline-block;
	margin-left: 6px;
}

.goto li + li:before{
	padding:0 10px;
	content: " | ";
	color: #efefef;
}

.goto a:hover, a:active {
   background-color: #1caea6;
}

#logo{
	
	position:absolute;
	left:7.48%;
	bottom:-15px;
	width:18%;
	height: 90px;
	color: white;
	background-color: #1caea6;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;


}
.middle{

	position:relative;
	display: flex;
	flex-flow: row;
	flex-flow: column;
	flex-wrap: wrap;
	flex: 1;
	width:100%;
	height: 910px;
	background-image: url("../images/concrete_seamless.png");
	
}
.container{
	
	position:relative;
	top:25px;
	left:10.7%;
	background-color: white;
	width: 48%;
	height:517px;
	border:0.5px solid #dddddd;
	align-items: center;

}
.container2{

	position:relative;
	top:25px;
	left:10.7%;
	background-color: white;
	width: 48%;
	height:680px;
	border:0.5px solid #dddddd;
	align-items: center;
	
}

.container3{

	position:relative;
	top:25px;
	left:10.7%;
	background-color: white;
	width: 48%;
	height:600px;
	border:0.5px solid #dddddd;
	align-items: center;

}

#subject1{
	
	position:absolute;
	top:25px;
	left:20px;
	color:#1caea6;
	width:95%;
	height:48px;
	background-color: transparent;
	border-bottom:3px solid #dddddd;
	margin:auto;


}
#about{
	
	
	float:left;
	width:180px;
	height: 150px;
	margin:25px 17.7px;

}
.story{
	

	text-align: justify;
	margin:25px 17.7px;

}
.box{

	position:absolute;
	top:95px;
	width:100%;
	height:600px;
	background-color: transparent;
	
}
.box:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.content:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
   
}
.content{
	
	position:absolute;
	top:100px;
	width:97%;
	height: 350px;
	
	
}
.work{
	float:left;
	width:180px;
	height: 150px;
	background-image: url("../images/business.jpg");
	margin:25px 17.7px;

}
.work a{
	padding:14px 71.99999621px;
}
.recipes{
	float:left;
	width:180px;
	height: 150px;
	background-image: url("../images/food.jpg");
	margin:25px 17.7px;
}
.recipes a{

	padding:14px 61.7px;

}
.ideas{
	float:left;
	width:180px;
	height: 150px;
	background-image: url("../images/tech.jpg");
	margin:25px 17.7px;
}
.ideas a{

	padding: 14px 70.999999px;
}
.aspirations{
	float:left;
	width:180px;
	height: 150px;
	background-image: url("../images/soccer.jpg");
	margin:25px 17.7px;
}
.aspirations a{

	padding:14px 51px;
}
.philosophy{

	float:left;
	width:180px;
	height: 150px;
	background-image: url("../images/abstract.jpg");
	margin:25px 17.7px;
}
.philosophy a{

	padding:14px 51.7px;
}
.box a{
	
	color:#ffffff;
	background-color: #1caea6;
	text-decoration: none;
	line-height: 225px;
	vertical-align: middle;
	text-align: center;

}


.connect{
	
	position: relative;
	top:-494.6px;
	left:67.22%;
	border:0.5px solid #dddddd;
	background-color: white;
	width:245px;
	height:170px;
	align-items: center;

	
	
}
.connect2{

	position: relative;
	top:-657.7px;
	left:67.22%;
	border:0.5px solid #dddddd;
	background-color: white;
	width:245px;
	height:170px;
	align-items: center;

}
.connect3{
	
	position: relative;
	top:-577.7px;
	left:67.22%;
	border:0.5px solid #dddddd;
	background-color: white;
	width:245px;
	height:170px;
	align-items: center;
}

#subject2{
	
	position:absolute;
	top:21.25px;
	left:42.875px;
	color: #1caea6;
	width:65%;
	height:37px;
	background-color: transparent;
	border-bottom: 2px solid #dddddd;
	border-bottom-width: 65%;
	text-align: center;
	margin:auto;
}

#social{

	position: absolute;
	top:85px;
	left:42.875px;
	margin: auto;
}
form{

	position:absolute;
	top:95px;
	left:17.7px;
	text-align: justify;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#submit{

	padding: 14px 50px;
	text-align: center;
	background-color: #1caea6;
	text-decoration: none;
	color: #ffffff;
}

.textbox{
	width: 585px;
	border-color: #dddddd;
	border-width: 0.5px;
}
.textbox1{

	width: 585px;
	height: 140px;
	border-color: #dddddd;
	border-width: 0.5px;
}

.bottom{
	position:relative;
	display: flex;
	flex-flow: row;
	flex-flow: column;
	flex-wrap: wrap;
	flex: 1;
	border-top:10px solid #1caea6;
	width:100%;
	height: 100px;
	background-color: #666666;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
	vertical-align: middle;
	line-height: 100px;
}





